body{
    background-color: black;
    font-family: "Krub", system-ui;
}
h2{
    color: #ffffff;
}
header{
    display: flex;
    justify-content: center;
    padding: 1em;
    font-weight: bold;
}
#navBar{
   background-color: rgb(104, 104, 104);    
}
#navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#navegacion a{
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
}
#navegacion a:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 0.5em;
}
#mainTitle{
  font-size: 3em;  
  color: #ffffff;
}

#mainConten{
    background-color: rgb(104, 104, 104);
    border-radius: 1em;
    margin: 1em;
    padding: 0.5em;
    
}
#mainConten2{
    background-color: rgb(175, 174, 174);
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    color:#000000;
    font-weight: bold;  
}
#mainConten2 p{
    padding: 1em;
}
#mainConten h2{
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
}
.movieCard{
    background-color: rgb(155, 154, 154);
    width: 20em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 2em;
}
.movieCard:hover{
    transform: scale(1.1);
}
.cardTitle{
    font-size: 1em;
    font-weight: bold;
}
.cardImg{
    border-radius: 10px;
}
.tag{
    border-radius: 1em;
    background-color: black;
    color: #ffffff;
    padding: 0.5em;
}

span{
    font-size: small;
}
strong{
    font-weight:bold;
}
#mainConten2 .col{
    background-color: #000000;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    color: #ffffff;
    text-align: start;
    font-weight: 400;
}
.CreateMovie{
    padding: 2em;
}
#moviesContainer{
    padding: 3em;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    justify-content:space-evenly;
}



